body {
	background-color: turquoise;
}

.center {
	text-align: center;
}

div {
	background-color: yellow;
	padding-top: 100px;
	font-size: 2em;

}

.container {
	width: 100%;
}


h1 {
	background-color: orange;
}


@media ( min-width: 768px) {

	div {
	font-size: 5em;
	background-color: green;
	margin-top: 25px;

}

}

@media (min-width: 1180px) {
	.container {
		width: 1160px;
		margin: 0 auto;
	}
}

